/** Colors */
$color-1: #127681;
$color-2: #f4f6ff;
$color-3: #f3c623;
$color-4: #10375c;


/** Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
$font: "Quicksand", sans-serif;
